In [218]:
import pandas as pd
from statsmodels.tsa.arima_model import ARIMA
import statsmodels.api as sm_api
import  matplotlib.pyplot as plt

In [219]:
df = pd.read_csv('data.csv')

In [220]:
df['TIME'] = pd.to_datetime(df['TIME'], errors='coerce')

---
### Preprocessing

In [230]:
data = df.set_index(['TIME']).asfreq('MS')

In [231]:
test_size = int(len(data) * .25)
train_size = len(data) - test_size

In [232]:
train, test = data[:train_size], data[train_size:]

---
### Prediction with `ARIMA`

In [208]:
model = ARIMA(endog=train, order=(2,1,0)).fit()

In [209]:
pred = fit.predict(start=train_size, end=(train_size-1) + test_size)

/opt/conda/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:320: FutureWarning: Creating a DatetimeIndex by passing range endpoints is deprecated.  Use `pandas.date_range` instead.
  freq=base_index.freq)

---
Accuracy calculation

In [233]:
df_pred = pd.DataFrame(pred, columns=['TRAFFIC'])
df_pred.index.name='TIME'

In [234]:
df_pred

                TRAFFIC
TIME
2020-07-01  1616.409557
2020-08-01  1580.838710
2020-09-01  1647.268512
2020-10-01  1632.798249
2020-11-01  1650.336466
2020-12-01  1645.270961

In [236]:
test

            TRAFFIC
TIME
2020-07-01     1123
2020-08-01     1228
2020-09-01     2241
2020-10-01     2563
2020-11-01     1785
2020-12-01     1993